@import url('https://fonts.googleapis.com/css?family=Merriweather');

@import url('https://fonts.googleapis.com/css?family=Oswald');

body,h1,h2 { font-family: "Merriweather", sans-serif; color: black}, h4 {font-family: "Merriweather", sans-serif; } ,h5,h6 {font-family: "Merriweather", sans-serif;}

h3 {
    
    font-family: "Oswald";
    font-size: 500%;
   
    color: white; 
    padding-top: 0px;
}

h4 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 180%;
    text-align: left;
    color: black; 
    float: center;
}
h5 {
    font-family: "Merriweather", sans-serif;
    font-size: 250%;
    text-align: center;
    color: black; 
    text-transform: full-width:

}
h2 {
    text-align: center;
    color: black;
    font-size: 200%;
    
    
}



body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
    
    p{
        
        text-align: left;
        font-family: "Open Sans";
    }

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("https://s3.amazonaws.com/snwceomedia/enn/e67a15fe-207c-48b2-b80c-b6ca8a6cbe5a.sized-1000x1000.png");
    width: 100%;
    min-height: 100%;


}



.w3-bar {
    background-color: white;
    
}
   
.container {
    
    padding-top: 50px;
}

.article {
    
    text-align: center;
    width: 100%;
}

.w3-wide {
        letter-spacing: 30px;
        font-size: 200%;
    }

    
    .w3-left {
        margin-top: 500px;
        
        
    }
    
    
    .w3-bar-item {
        
        background-color: white;
        
    }

.sticky-top {
        
        top: 40px;
    }

a:hover {
    color: black;
    text-decoration: none;
    
}

/* Buttons */

.btn-secondary {

        
        width: 170px;
        margin-top: 10px;
        display: inline-block;
        background-color: black;
    border: none;
    
        
    }

.academics-btn {
    
    background-color: black; 
}

#academics {
    padding-top: 20px;
    border-bottom-color: black; 
    border-bottom-width: thick;
}

.academic-category-text {
    font-family: Merriweather;
    
    color: white;
    border-color: white;
    text-align: left; 
    padding-right: 70px;
    

}
academic-category-subtext {
    font-family: Merriweather;
    font-size: 150% 
    color: white;
    border-color: white;
    text-align: left; 
    padding-right: 100px;
    

}


.row2 {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    
    
}
.row3 {
   
    margin-top: 50px;
    width: 100%;
    display: block;
    margin: auto;
    
}
    
/* Categories */

/* .col-sm-3 {
        
        width: 80%;
        
        
    }
*/

.section {
    
    margin-bottom: 0px;
}

.category-type {
    
    font-size: 500%;
    text-align: center;
  
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 100px;
    
    background-color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    
    
}

.categories {
        
        border-radius: 0%;
        height: 300px;
        width: 1080px;
        padding-bottom: 0px; 
        align-content: center;
        vertical-align: middle;
        
    }

    
.category-text {
        
        border-radius: 100%;
        width: 350px;
        height: 350px;
        text-align: center;
        border: 4px solid;
        display: none;
        vertical-align: middle;
        
    }

.category-subtext {
    font-size: 200%;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
    
    
    
    
}
.pictures {
    
    margin-top: 0px;
    display: inline-block;
    
}

.individual-category {
    
    margin: 0px;
}

.mexican-food {
    
    float: left;
}

.italian-food {
    
    float: left;
}
.indian-food {
    
    float: left;
}
/*  
    /* entire container, keeps perspective */

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
    

.header-image {
    
    width: 300px;
}
    
 .article {
        
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-bottom: 100px;
        
    }
    
    
.dropcap {
        
        font-family: "Merriweather";
        font-size: 375%;
        float: left;
        margin-right: 10px;
        margin-top: -5px;
        margin-bottom: -30px;
        color: rgb(197, 5, 13); 
    }
    
/* Winner pages */

.winner {
    
    font-size: 300%;
    text-align: left;
    
}


.academics-headline {
    
    border-bottom-color: black; 
    
}


.cutline {
    font-size: 80%;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: left;
    font-family:"Merriweather";
    
    
  
    
    
}

.col-3 {
    
    border-left: solid;
    border-width: thin;
    padding-left: 30px;
}

.runner-up {
    
    text-align: left;
}



.back-arrow {
    
    margin-top: -4px;
    
}

.new-container {
    
    position: relative;
    transition: 3s ease;
    backface-visibility: hidden;
    
}

.photos {
    
    
    
}

.new-container:hover .categories {
    
    opacity: 0.3;
    transition: 0.5s;
    
}

.new-container .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: white;
    
    padding-left: 10px; 
    padding-right: 10px; 
    
}


.text-block {
    
    position: center;
    background-color: rgba(255,255,255,.8);
    padding: 0px 10px 0px 60px;
    width: 250px;
    text-align: center;
    
}

.byline {
    
    text-align: left;
    font-size: 85%;
    padding-top: 10px;
    font-family: "Merriweather";
}

.runner-up {
    text-align: left;
    padding-top: 10px;
   
}

.sidebar {
    text-align: left;
    float: left;
    position:left;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightpink;
    margin-right: 20px;
    margin-bottom: 20px;
    

    
    
    
}

h5 {
    
    font-size: 130%;
}

h6 {
    
    font-size: 100%;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
    
    @media (max-width: 570px) {
        
         
    }
    
 

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        max-width: 100%;
    }
    
    .food-buttons {
        position: static;
        
    }
  
    
    
}
