@import url('https://fonts.googleapis.com/css?family=Merriweather');

@import url('https://fonts.googleapis.com/css?family=Oswald');

body,h1,h2,h4,h5,h6 {font-family: "Merriweather", sans-serif;}

h3 {
    
    font-family: "Oswald";
    font-size: 250%;
    text-align: left;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
    
    p{
        
        text-align: left;
        font-family: "Open Sans";
    }


.w3-bar {
    background-color: white;
    
}
   
.still-image{
    
    display: none;
    
    
}

.article {
    
    text-align: center;
    width: 100%;
}

.header-container {
    
    position: relative;
   
}

.scroll {
    
    margin-top: -700px;
}


.headline {
    position: relative;
    text-align: center;
    color: black;
    padding-top: 00px;
    z-index: 10;
    display: block;
}

.bold {
    text-shadow: 0 0 15px #000000;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 800%;
    font-weight: bold;
    color: white;
}

.regular {
    text-shadow: 0 0 15px #000000;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 200%;
    font-weight: lighter;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.super-bold {
    
   text-shadow: 0 0 15px #000000;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 800%;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 70px;
    color: rgb(197,3,13);

  
}

.first {
   
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
 
}

.second {
    
    
    padding-top: 10px;
    padding-bottom: 10px;
}

.third {
   
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fourth {
  
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fifth {
    
    margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sixth {
   
   margin-bottom: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.image-container {
    
     background-image: url("https://s3.amazonaws.com/snwceomedia/enn/9210fd97-25c5-4f87-9486-152703e2f82b.sized-1000x1000.jpg");
    
    
    height: 1500px;
    
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    z-index:0;
    overflow: hidden;
    
}


.deck {
    
    font-size: 170%;
    line-height: 150%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.subhead {
    
    font-family: Oswald;
    font-size: 130%;
    text-transform: uppercase;
    
    
}

.fact-box-header {
    
    border-bottom: solid;
    border-bottom-color: gray;
    font-family: Oswald;
    font-size: 150%;
    text-transform: uppercase;
    color: rgb(197,3,13);
    padding-bottom: 5px;
}

.fact-box-big-number {
    
    font-family: Oswald;
    font-size: 400%;
    font-weight: bolder;
   color: black;
    
}

.fact-box-copy {
    
    margin-top: -10px;
    font-size: 95%
    
}

.photo-credit {
    
    text-align: right;
}

.byline {
    
    margin-bottom: 50px;
}


.photo-special {
    
    border-top: solid;
    border-top-width: 1px;
    padding-top: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 15px;
     border-bottom: solid;
    border-bottom-width: 1px;
    
}

.col-md-9 {
    
    
}

.container {
    
    padding-top: 50px;

}

.row1 {
    
    margin-left: 20%;
    margin-right: 20%;
    align-content: center;
}




.pull-quote {
    
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 140%;
    line-height: 130%;
    font-weight: lighter;
    
}

.pull-quote-name {
    margin-top: 20px;
    font-size: 90%; 
    
}

.pull-quote-title {
   margin-top: -10px;
    font-size: 90%; 
    
}

.photo-credit {
    font-size: 80%;
    margin-top: 5px;
    text-align: right;
    
}

.footer {
    
    margin-top: 50px;
    background-image: url(https://s3.amazonaws.com/snwceomedia/enn/658e7f86-38fe-4516-9430-ebb665ded8f6.sized-1000x1000.jpg) 
}

.w3-wide {
        letter-spacing: 30px;
        font-size: 200%;
    }

    
    .w3-left {
        margin-top: 500px;
        
        
    }
    
    
    .w3-bar-item {
        
        background-color: white;
        
    }



.section {
    
    margin-bottom: 70px;
}



.header-image {
    
    width: 300px;
}
    
 .article {
        
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-bottom: 50px;
        
    }
    
    
.dropcap {
        
        font-family: "Merriweather";
        font-size: 550%;
        float: left;
        margin-right: 10px;
        margin-top: -30px;
        margin-bottom: -30px;
        color: rgb(197, 5, 13); 
    }
    

a:hover {
    
    color: rgb(197, 5, 13);
    text-decoration: none;
    
}










.text-block {
    
    position: absolute;
    bottom: 95px;
    right: 0px;
    background-color: rgba(255,255,255,.8);
    padding: 3px 8px 3px 8px;
    width: 250px;
    text-align: center;
    
}


h5 {
    
    font-size: 130%;
}

h6 {
    
    font-size: 100%;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
    
 

/* Turn off parallax scrolling for tablets and phones */
@media (max-width: 1024px) {
    
    .still-image {
        
       display: inline;
        width: 100%;
        
    }
    
    .jaffe {
        
        width: 100%;
    }
    
    .scroll {
        
        display: none;
    }
    
    .bold {
        
        color: black;
        font-size: 500%;
        margin-top: 0px;
        margin-bottom: 0px;
        text-shadow: 0 0 0px #000000;
       
    }
    
    .regular {
       
        color: black;
        text-shadow: 0 0 0px #000000;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 170%;
    }
    
    .super-bold {
        
        font-size: 500%;
        text-shadow: 0 0 0px #000000;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .headline {
        text-align: center;
        background-color: white;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        margin-top: -200px;
    }
    
    
    .image-container {
        
        display: none;
    }
    
    .map {
        
        display: none;
    }
    
    
    
    .container {
         
         padding-top: 50px;
     }
    
    .row1 {
         
         margin-left: 10%;
         margin-right: 10%;
     }
     
     .row3 {
         
         margin-left: 10%;
         margin-right: 10%;
     }
    
}




 @media (max-width: 760px) {
        
     
     .image-container {
         
         background-attachment: scroll;
         
     }
     
     
        .headline {
        width: 100%;
        margin-top: 50px;
        
    }
    
    .life {
    
    font-size: 400%;
    
}

.without {
    
    font-size: 250%; 
}

.leo {
    
    font-size: 400%;
    
}
     
     .container {
         
         padding-top: 50px;
     }
        
     .row1 {
         
         margin-left: 10%;
         margin-right: 10%;
     }
     
     .row3 {
         
         margin-left: 10%;
         margin-right: 10%;
     }
     
     .pullquote {
    
    margin-top: -220px;
    margin-bottom: 90px;
    color: white;
    text-shadow: 0 0 10px #000000;
    width: 50%;
    margin-left: 140px;
}
     
     .quote {
        
        font-size: 100%;
    }
    
    .name {
        
        font-size: 80%;
    }
    
    .attribution {
        
        font-size: 80%;
    }
         
    }

@media (max-width: 400px) {
 
    
    .pullquote {
        
        margin-bottom:50px;
    }
    
}
