@import url('https://fonts.googleapis.com/css?family=Merriweather');

@import url('https://fonts.googleapis.com/css?family=Oswald');

body,h1,h2,h4,h5,h6 {font-family: "Merriweather", sans-serif;}

h3 {
    
    font-family: "Oswald";
    font-size: 250%;
    text-align: left;
}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}
    
    p{
        
        text-align: left;
        font-family: "Open Sans";
    }

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("https://s3.amazonaws.com/snwceomedia/enn/8bb51b79-0132-45d7-8b09-dfd78a5d1757.sized-1000x1000.jpg");
    width: 100%;
    min-height: 100%;


}

.w3-bar {
    background-color: white;
    
}
   
.container {
    
    padding-top: 100px;
}

.article {
    
    text-align: center;
    width: 100%;
}

.w3-wide {
        letter-spacing: 30px;
        font-size: 200%;
    }

    
    .w3-left {
        margin-top: 500px;
        
        
    }
    
    
    .w3-bar-item {
        
        background-color: white;
        
    }

.sticky-top {
        
        top: 40px;
    }

a:hover {
    color: black;
    text-decoration: none;
    
}

/* Buttons */

.btn-secondary {

        
        width: 170px;
        margin-top: 10px;
        display: block;
        background-color: darkgray;
    border: none;
    margin-right: 3px;
    
        
    }


.row2 {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    
    
}
.row3 {
   
    margin-top: 50px;
    width: 100%;
    display: block;
    margin: auto;
    
}


    
/* Categories */

/* .col-sm-3 {
        
        width: 80%;
        
        
    }
*/

.section {
    margin-top: 50px;
    margin-bottom: 70px;
}

.category-type {
    
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 0px;
    border-bottom-style: solid;
    border-bottom-color: black;
    
}

.group {
    
    margin-bottom: 70px;
    height: 420px;
}

.statement {
    
    font-size: 80%;
    line-height: 150%;
    
    
}


.name {
    
    font-family: Oswald;
    font-size: 200%;
    
}


.header-image {
    
    width: 300px;
}


.article {
    
    margin-bottom: 70px;
    
}
    
/* Winner pages */



.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
    margin-bottom: 15px;
    
}

.video-container iframe {
    
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.headshot {
    
    margin-bottom: 15px;
    
}


h5 {
    
    font-size: 100%;
}

h6 {
    
    font-size: 100%;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
    
    @media (max-width: 570px) {
        
        
        .group {
            
            height: 500px;
        }
         
    }
    
 

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
        max-width: 100%;
    }
    
    .food-buttons {
        position: static;
        
    }
  
    
    
}
